extend default

block prepend head
  - var page = 'Register'

block content
  // register form
  form(method='POST' action='/register')
    if err != undefined
      div.container
        ul
          if typeof(err) == 'string'
            li #{err}
          else
            for error in err
              li!= error.msg
    div.form-group
      label(for='username') User Name:
      if u != undefined
        input#username.form-control(type='text', placeholder='Username is case-sensitive', name='username', value=u)
      else
        input#username.form-control(type='text', placeholder='Username is case-sensitive', name='username')
    div.form-group
      label(for='email') Email:
      if e != undefined
        input#email.form-control(type='email', placeholder='name@email.com' name='email', value=e)
      else
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
    div.form-group
      label(for='pw') Password:
      input#pw.form-control(type='password', name='password')
    div.form-group
      label(for='pw2') Confirm Password:
      input#pw2.form-control(type='password', name='confirmPassword')
    button.btn.btn(type='submit') Register